:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
}

div.banner {
  background-image: linear-gradient(to bottom,         
  #F395F3, purple);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.home_new_list_button {
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}


.sort-btn {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.sort-btn:hover {
  color: purple;
  cursor: pointer;
}

#list_trash {
  cursor: pointer;
  font-size: 4vw;
}
#list_trash:hover {
  color: purple;
  cursor: pointer;
}

#list-title{
  text-align: center !important;
  color: indigo;
}


#table_headers{
  font-size: 24px;
  padding-left: 12px;
  padding: 12px !important
}

.list-item{
  border-radius: 15px;
}

.item-container{
  padding: 12px !important;
}

.bold-text{
  font-weight: 500 !important;
}

.item-prompt-font{
  font-weight: 800 !important;
  color: purple !important;
}

.list_item_card_completed {
  color: green;
}
.list_item_card_not_completed {
  color: red;
}

#completed-prompt{
  margin-top: 12px !important;
}

#item-form-container{
  overflow: hidden;
}

.item-form-btn{
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
}

.todo-lists{
  text-align: center;
}

.card-content{
  text-align: left;
}

/* Button CSS */
.fab-layout{
  display: inline-table !important;
  float: right;
}

.fab-layout .sub-btn{
    margin-bottom: 30px !important;
    background-color: white !important;
}

.fab-layout:hover .sub-btn{
  margin-bottom: auto !important;
}

.plus-margin{
  margin-right: 18px !important;
}

.modal-footer-buttons{
  margin-right: 30px !important;
}

#modal-title{
  text-align: center;
}


.item-btn{
  display: inline-block !important;
  margin-right: 10px;
  margin-top: 2px;
}

#main-button{
  margin-left: 5px;
}

.no-top{
  margin-top: 0px !important;
}


/* Propeller buttons */
@import "http://propeller.in/components/button/css/button.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Propeller css for Floating Action Button*/
.pmd-floating-action { margin:1em;  right: 0; }
.pmd-floating-action-btn { display:block; position: relative; transition: all .2s ease-out;}
.pmd-floating-action-btn:before { bottom: 10%; content: attr(data-title); opacity: 0; position: absolute; right: 100%; transition: all .2s ease-out .5s;  white-space: nowrap; background-color:#fff; padding:6px 12px; border-radius:2px; color:#333; font-size:12px; margin-right:5px; display:inline-block; box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.18), 0px 2px 2px -7px rgba(0, 0, 0, 0.15);}
.pmd-floating-action-btn:last-child:before { font-size: 14px; bottom: 25%;}
.pmd-floating-action-btn:active, .pmd-floating-action-btn:focus, .pmd-floating-action-btn:hover {box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);}
.pmd-floating-action-btn:not(:last-child){ opacity: 0; -ms-transform: translateY(20px) scale(0.3); transform: translateY(20px) scale(0.3); margin-bottom:15px; margin-left:8px; position:absolute; bottom:0;}
.pmd-floating-action-btn:not(:last-child):nth-last-child(1) { transition-delay: 50ms;}
.pmd-floating-action-btn:not(:last-child):nth-last-child(2) { transition-delay: 100ms;}
.pmd-floating-action-btn:not(:last-child):nth-last-child(3) { transition-delay: 150ms;}
.pmd-floating-action-btn:not(:last-child):nth-last-child(4) { transition-delay: 200ms;}
.pmd-floating-action-btn:not(:last-child):nth-last-child(5) { transition-delay: 250ms;}
.pmd-floating-action-btn:not(:last-child):nth-last-child(6) { transition-delay: 300ms;}
.pmd-floating-action:hover .pmd-floating-action-btn, .menu--floating--open .pmd-floating-action-btn { opacity: 1; -ms-transform: none; transform: none; position:relative; bottom:auto;}
.pmd-floating-action:hover .pmd-floating-action-btn:before, .menu--floating--open .pmd-floating-action-btn:before { opacity: 1;}
.pmd-floating-hidden{ display:none;}
.pmd-floating-action-btn.btn:hover{ overflow:hidden;}

.pmd-floating-action-btn .ink{ width:50px; height:50px;}
